@charset "UTF-8";
/* ###################################################################### */
/* # 																	# */
/* # 					  	  	VARIABLES								# */
/* # 																	# */
/* ###################################################################### */
:root {
	--pcdesc-background-color: #1a2234;
	--pcdesc-element-background-color: #1d273b;
	--pcdesc-text-color: #f8fafc;
}

/* On définit le corps de notre page*/
body {
	/* Paramètres de couleur */
	color: var(--pcdesc-text-color) !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */
	background-color: var(--pcdesc-background-color) !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */
}

/* ###################################################################### */
/* # 																	# */
/* # 					  	  PRECHARGEMENT								# */
/* # 																	# */
/* ###################################################################### */

.preloader-wrapper {
	background-color: var(--pcdesc-background-color) !important;
}

/* ###################################################################### */
/* # 																	# */
/* # 					   BARRE DE NAVIGATION							# */
/* # 																	# */
/* ###################################################################### */

.navbar {
	background-color: var(--pcdesc-element-background-color) !important;
}

.nav-link {
	color: var(--pcdesc-text-color) !important;
}

/* On modifie la couleur du lien de la navbar si l'utilisateur se trouve sur cette page (on le remet car autrement ce n'est pas pris en compte)*/
.active {
	color: #0d6efd !important;
}
.dropdown-menu {
	background-color: var(--pcdesc-element-background-color) !important;
}
.dropdown-item {
	color: var(--pcdesc-text-color) !important;
}

/* ###################################################################### */
/* # 																	# */
/* # 					  	 	CONTENEURS								# */
/* # 																	# */
/* ###################################################################### */

#hero {
	background-color: var(--pcdesc-element-background-color) !important;
}
.card {
	border-color: #243049 !important;
	background-color: var(--pcdesc-element-background-color) !important;
}
.card-header {
	background-color: var(--pcdesc-background-color) !important;
}
.card-body {
	background-color: var(--pcdesc-element-background-color) !important;
}
.modal-content {
	background-color: var(--pcdesc-element-background-color) !important;
	color: var(--pcdesc-text-color) !important;
}
/* On précise que la légende des graphiques doit être en blanc*/
.apexcharts-legend-text {
	color: var(--pcdesc-text-color) !important;
}
/* ###################################################################### */
/* # 																	# */
/* # 					   BARRE DE DEFILEMENT							# */
/* # 																	# */
/* ###################################################################### */

/* On modifie la barre de défilement pour s'adapter au thème sombre */
*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.16);
}

*::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.06);
}

*:hover::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.32);
}
