@charset "UTF-8";
/* On définit le corps de notre page*/
body {
	/* Paramètres de couleur */
	color: #f8fafc !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */
	background-color: #1a2234 !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */
}

/* ###################################################################### */
/* # 																	# */
/* # 					  	  PRECHARGEMENT								# */
/* # 																	# */
/* ###################################################################### */

.preloader-wrapper {
	background-color: #1a2234 !important;
}

/* ###################################################################### */
/* # 																	# */
/* # 					   BARRE DE NAVIGATION							# */
/* # 																	# */
/* ###################################################################### */

.navbar {
	background-color: #1d273b !important;
}

.nav-link {
	color: #f8fafc !important;
}

.navbar-toggler .hamburger-toggle .hamburger span {
	background: #ffc107;
}
/* On modifie la couleur du lien de la navbar si l'utilisateur se trouve sur cette page */
.active {
	color: #0d6efd !important;
}
.dropdown-menu {
	background-color: #1d273b !important;
}
.dropdown-item {
	color: #f8fafc !important;
}

/* ###################################################################### */
/* # 																	# */
/* # 					  	 	CONTENEURS								# */
/* # 																	# */
/* ###################################################################### */

#hero {
	background-color: #1d273b !important;
}
.card {
	border-color: #243049 !important;
	background-color: #1d273b !important;
}
.card-body {
	background-color: #1d273b !important;
}
.modal-content {
	background-color: #1d273b !important;
	color: #f8fafc !important;
}
/* ###################################################################### */
/* # 																	# */
/* # 					   BARRE DE DEFILEMENT							# */
/* # 																	# */
/* ###################################################################### */

/* On modifie la barre de défilement pour s'adapter au thème sombre */
*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.16);
}

*::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.06);
}

*:hover::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.32);
}
