@charset "UTF-8";
/* On importe une police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* On définit un défilement doux (plus agréable à regarder), même si les animations, sont désactivés sur son appareil */
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}
/* On utilisera l'unité rem dans les éléments inbriqués */

/* On définit le corps de notre page*/
body {
	margin: 0;
	/* Paramètres de police */
	font-family: 'Poppins', sans-serif;
	font-size: 100%; /* La taille de celle-ci*/
	-webkit-text-size-adjust: 100%;
	font-weight: 400;
	line-height: 1.4285714;
	/* On précise qu'on ne peut rien sélectionner (surlignage en bleu) */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* Paramètres de couleur */
	color: #1d273b !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */
	background-color: #f8f4fc !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */

	/* On définit la couleur quand l'utilisateur mobile touche quelquechose, au lieu du bleu habituel des navigateurs */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* On rajoute un flou quand un modal est affichée (https://gist.github.com/webprogramozo/9684826e469e5dc375e98f65559e1509)*/
.modal-blur {
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

/* ###################################################################### */
/* # 																	# */
/* # 					  	  PRECHARGEMENT								# */
/* # 																	# */
/* ###################################################################### */

/* On crée un bloc qui prend toute la page*/
.preloader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
	background-color: #f8f4fc !important;
	z-index: 1031; /* On indique que le preloader se couche à la couche 1031 car la navbar de Bootstrap est par défaut à 1030 ce qui fait qu'elle est affichée durant le chargement*/
}

/* On cache tout le contenu de la page */
.notLoaded {
	height: 100vh;
	overflow: hidden;
	position: fixed;
	margin: 0px;
}

/* On crée une animation de fondu */
.fade-out {
	opacity: 0;
	visibility: hidden;
}

/* ###################################################################### */
/* # 																	# */
/* # 					   BARRE DE NAVIGATION							# */
/* # 																	# */
/* ###################################################################### */

.navbar {
	background-color: #ffffff !important;
	font-weight: 500;
}

/*On ajoute une animation au sous-catégories de la barre de navigation*/
.dropdown-menu.show {
	-webkit-animation: fadeIn 0.3s alternate; /* On récupère l'animation fadeIn que l'on crée juste en dessous */
	/* Safari 4.0 - 8.0 */
	animation: fadeIn 0.3s alternate;
}
/* On crée l'animation fadeIn qui fait un fondu intérieur*/
@keyframes fadeIn {
	from {
		opacity: 0; /* On part d'une opacité de 0 */
	}
	to {
		opacity: 1; /* On finit par une opacité de 1 (tout est visible) */
	}
}
/* On configure la barre de navigation pour les affichages mobiles (code provenenat d'une source externe) */
.navbar-toggler {
	border: none;
	padding: 0;
	outline: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler .hamburger-toggle {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	z-index: 11;
}

.navbar-toggler .hamburger-toggle .hamburger {
	position: absolute;
	transform: translate(-50%, -50%) rotate(0deg);
	left: 50%;
	top: 50%;
	width: 50%;
	height: 50%;
	pointer-events: none;
}

.navbar-toggler .hamburger-toggle .hamburger span {
	width: 100%;
	height: 4px;
	position: absolute;
	background: #333;
	border-radius: 2px;
	z-index: 1;
	transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
	left: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger span:first-child {
	top: 10%;
	transform-origin: 50% 50%;
	transform: translate(0% -50%) !important;
}

.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
	top: 50%;
	transform: translate(0, -50%);
}

.navbar-toggler .hamburger-toggle .hamburger span:last-child {
	left: 0px;
	top: auto;
	bottom: 10%;
	transform-origin: 50% 50%;
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
	position: absolute;
	margin: 0;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
	top: 45%;
	transform: rotate(45deg);
}

.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
	left: 50%;
	width: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
	top: 45%;
	transform: rotate(-45deg);
}

/* On modifie la couleur du lien de la navbar si l'utilisateur se trouve sur cette page */
.active {
	color: #0d6efd !important;
}

/* On définit nos liens de la navbbar*/
.nav-link {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	opacity: 0.75; /* Servira pour une animation */
}
/* On dit que si la souris est sur l'élément, alors il sera en jaune */
.nav-link:hover {
	color: #ffc107 !important;
	opacity: 1; /* On augmente l'opacité */
}

/* On crée l'animation onhover */
.nav-link::before {
	transition: 300ms;
	height: 5px;
	content: '';
	position: absolute;
	background-color: #ffc107;
}

.nav-link-anim::before {
	width: 0%; /* On dit que notre barre n'a pas de longueur*/
	bottom: 1px;
}

.nav-link-anim:hover::before {
	width: 100%; /* On dit que notre barre prend toute la longueur */
}

.dropdown-item:hover {
	background-color: #ffc107 !important;
}
/* On applique ce modèle au dropdown menu actifs*/
#menudrop[aria-expanded='true'] {
	color: #ffc107 !important;
}
#drop[aria-expanded='true'] {
	background-color: #ffc107 !important;
}

/* ###################################################################### */
/* # 																	# */
/* # 					  	 	CONTENEURS								# */
/* # 																	# */
/* ###################################################################### */

#hero {
	background-color: #ffffff !important;
}
.card-header {
	background-color: #f8fafc !important;
}
.avatar {
	position: relative;
	width: 2.5rem;
	height: 2.5rem;
	font-size: calc(2.5rem / 2.8571428572);
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #616876;
	text-align: center;
	text-transform: uppercase; /* On dit de mettre le texte en majuscule */
	vertical-align: bottom;
	border-radius: 4px;
}

/* ###################################################################### */
/* # 																	# */
/* # 					  	 	COULEURS								# */
/* # 																	# */
/* ###################################################################### */

/* On crée des éléments d'arrière plan pour BootStrap*/
.bg-green {
	background-color: #2fb344 !important;
}
.bg-fb {
	background-color: #3b5998 !important;
}

.bg-tw {
	background-color: #1da1f2 !important;
}
/* ###################################################################### */
/* # 																	# */
/* # 					  	 	BOUTTONS								# */
/* # 																	# */
/* ###################################################################### */

/* On crée notre propre boutton*/
.custom-btn {
	border: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* On recrée le bouton en utilisant la couleur primaire de Bootstrap (le bleu), sert de base*/
.custom-btn-primary {
	background: hsl(216, 98%, 52%) !important; /*On utilise la norme HSL uniquement pour une question de praticité pour les ombres plus sombre*/
	color: #fff;
	box-shadow: 0 6px hsl(216, 91%, 42%); /* On baisse de 7% et de 10% (juste praticité) */
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
/* On crée notre sous boutton (l'ombre)*/
.custom-btn-2 {
	border-radius: 20px;
}

.custom-btn-2:hover {
	box-shadow: 0 4px hsl(216, 91%, 42%) !important;
	top: 2px;
}

.custom-btn-2:active {
	box-shadow: 0 0 hsl(216, 91%, 42%) !important;
	top: 6px;
}
/* Notre bouton pour retourner en haut de la page */
.back-to-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	display: none;
}
/* ###################################################################### */
/* # 																	# */
/* # 					   BARRE DE DEFILEMENT							# */
/* # 																	# */
/* ###################################################################### */

/* On modifie la barre de défilement */
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}
@media (prefers-reduced-motion: reduce) {
	*::-webkit-scrollbar {
		-webkit-transition: none;
		transition: none;
	}
}
*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(29, 39, 59, 0.16);
}

*::-webkit-scrollbar-track {
	background: rgba(29, 39, 59, 0.06);
}

*:hover::-webkit-scrollbar-thumb {
	background: rgba(29, 39, 59, 0.32);
}

*::-webkit-scrollbar-corner {
	background: transparent;
}

/* ###################################################################### */
/* # 																	# */
/* # 					   	PIED DE PAGE								# */
/* # 																	# */
/* ###################################################################### */

footer {
	font-family: 'Poppins', sans-serif;
}
