@charset "UTF-8";
/* On importe une police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* On définit un défilement doux (plus agréable à regarder) */
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

/* On définit le corps de notre page*/
body {
	margin: 0;
	/* Paramètres de police */
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; /* On définit la police d'écriture*/
	font-size: 0.875rem; /* La taille de celle-ci*/
	font-weight: 400;
	line-height: 1.4285714;
	/* Paramètres de couleur */
	color: #1d273b !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */
	background-color: #f1f5f9 !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ###################################################################### */
/* # 																	# */
/* # 					  	  PRECHARGEMENT								# */
/* # 																	# */
/* ###################################################################### */

/* On crée un bloc qui prend toute la page*/
.preloader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
	background-color: #f1f5f9 !important;
	z-index: 1031; /* On indique que le preloader se couche à la couche 1031 car la navbar de Bootstrap est par défaut à 1030 ce qui fait qu'elle est affichée durant le chargement*/
}

/* On cache tout le contenu de la page */
.notLoaded {
	height: 100vh;
	overflow: hidden;
	position: fixed;
	margin: 0px;
}

/* On crée une animation de fondu */
.fade-out {
	opacity: 0;
	visibility: hidden;
}

/* ###################################################################### */
/* # 																	# */
/* # 					   BARRE DE NAVIGATION							# */
/* # 																	# */
/* ###################################################################### */

.navbar {
	background-color: #ffffff !important;
	/* On change la police d'écriture uniquement pour la barre de navigation*/
	font-family: 'Poppins', sans-serif;
}

/*On ajoute une animation au sous-catégories de la barre de navigation*/
.dropdown-menu.show {
	-webkit-animation: fadeIn 0.3s alternate;
	/* Safari 4.0 - 8.0 */
	animation: fadeIn 0.3s alternate;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* On configure la barre de navigation pour les affichages mobiles*/
.navbar-toggler {
	border: none;
	padding: 0;
	outline: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler .hamburger-toggle {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	z-index: 11;
}

.navbar-toggler .hamburger-toggle .hamburger {
	position: absolute;
	transform: translate(-50%, -50%) rotate(0deg);
	left: 50%;
	top: 50%;
	width: 50%;
	height: 50%;
	pointer-events: none;
}

.navbar-toggler .hamburger-toggle .hamburger span {
	width: 100%;
	height: 4px;
	position: absolute;
	background: #333;
	border-radius: 2px;
	z-index: 1;
	transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
	left: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger span:first-child {
	top: 10%;
	transform-origin: 50% 50%;
	transform: translate(0% -50%) !important;
}

.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
	top: 50%;
	transform: translate(0, -50%);
}

.navbar-toggler .hamburger-toggle .hamburger span:last-child {
	left: 0px;
	top: auto;
	bottom: 10%;
	transform-origin: 50% 50%;
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
	position: absolute;
	margin: 0;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
	top: 45%;
	transform: rotate(45deg);
}

.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
	left: 50%;
	width: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
	top: 45%;
	transform: rotate(-45deg);
}

/* On modifie la couleur du lien de la navbar si l'utilisateur se trouve sur cette page */
.navlink,
.active {
	color: #0d6efd;
}

.navlink,
.active,
.fa-house {
	color: #0d6efd;
}

/* ###################################################################### */
/* # 																	# */
/* # 					   BARRE DE DEFILEMENT							# */
/* # 																	# */
/* ###################################################################### */

/* On modifie la barre de défilement */
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}
@media (prefers-reduced-motion: reduce) {
	*::-webkit-scrollbar {
		-webkit-transition: none;
		transition: none;
	}
}
*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(29, 39, 59, 0.16);
}

*::-webkit-scrollbar-track {
	background: rgba(29, 39, 59, 0.06);
}

*:hover::-webkit-scrollbar-thumb {
	background: rgba(29, 39, 59, 0.32);
}

*::-webkit-scrollbar-corner {
	background: transparent;
}
