@charset "UTF-8";
/* On définit un défilement doux (plus agréable à regarder) */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }

/* On définit le corps de notre page*/
body {
    margin: 0;
    /* Paramètres de police */
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; /* On définit la police d'écriture*/
    font-size: 0.875rem;; /* La taille de celle-ci*/
    font-weight: 400;
    line-height: 1.4285714;
    /* Paramètres de couleur */
    color: #1D273B !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */
    background-color: #f1f5f9 !important; /* On rajoute l'attribut !important car autrement ce n'est pas pris en compte */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    }

.navbar{
    background-color: #FFFFFF !important;
}
/* On crée un bloc qui prend toute la page*/
.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
    background-color: #f1f5f9 !important;
    z-index: 1031; /* On indique que le preloader se couche à la couche 1031 car la navbar de Bootstrap est par défaut à 1030 ce qui fait qu'elle est affichée durant le chargement*/
}

/*On crée une animation de fondu*/
.fade-out {
    opacity: 0;
    visibility: hidden;
}

.notLoaded {
    height: 100vh;
    overflow: hidden;
    position: fixed;
    margin: 0px;
  }
    